<form id="form" action="/scanner" method="POST">
    <input hidden id="instaInput" name="instagramUserID" type="text">
    <input hidden id="facebookInput" name="facebookPageID" type="text">
    <input hidden id="accessToken" name="accessToken" type="text">
</form>