<% let width = 148 %>
<% let height = width/1.85 %>  

<div class="container-fluid shadow-sm mb-3" id="header">
    <div class="row">
        <a href="/" class="mt-2 mb-21 mx-auto">
            <img class="figure-img img-fluid" id="logo" style=" width: <%= width %>px; height: <%= height %>px;" 
                src="/img/eatlery-logo.png" alt="EATlery Logo">
        </a>
    </div>
</div>