<nav id="header" class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <img class="navbar-brand" id="logo" src="/img/eatlery-logo.png" alt="EATlery Logo" width="74" height="49.75">

    <% try { if (user) { %>
        <button class="navbar-toggler border-0" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="menu" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item">
                    <a class="dropdown-item" role="button" href="/choose">Post auswählen</a>
                </li>
                <li class="navbar-item">
                    <a class="dropdown-item" role="button" href="/reward">Preis auswählen</a>
                </li>
                <li class="navbar-item">
                    <a class="dropdown-item" role="button" href="/scanner">QR-Codes scannen</a>
                </li>
                <li class="navbar-item">
                    <a class="dropdown-item" role="button" href="/preview">Meine Kampagnen-Seite</a>
                </li>
                <li class="navbar-item">
                    <a class="dropdown-item" role="button" onclick="logout()">Ausloggen</a>
                </li>
            </ul>
        </div>
        <% }} catch {} %>
</nav>