<label for="choice1">
    <input type="radio" name="reward" id="choice1" data-type="1">
    Eine Kugel Eis im Becher mit unserem EATlery&copy; Löffel
</label>
<br>
<label for="choice2">
    <input type="radio" name="reward" id="choice2" data-type="2">
    Extra Portion Sahne auf ein Eis
</label>
<br>
<label for="choice3">
    <input type="radio" name="reward" id="choice3" data-type="3">
    Eine Kugel Eis extra
</label>
<br>
<b>oder</b>
<br>
<label for="choice4">
    <input type="radio" name="reward" id="choice4" data-type="4">
    Ich möchte selbst entscheiden, was als Preis verteilt wird
</label>