<%
    let text = ""

    switch (type) {
        case 1:
            text = "eine Kugel Eis deiner Wahl im Becher!"
            break;
    
        case 2:
            text = "eine Portion Sahne auf dein Eis!"
            break;
    
        case 3:
            text = "eine Kugel Eis extra!"
            break;
    
        case 4:
            text = "eine Überraschung!"
            break;
    
        
    }
%>
<style>
    #bubble {
        padding-top: 10vw;
        border-radius: 10vw 10vw 0 0;
        background-color: white;
        font-size: x-large;
    }

    #disclaimer {
        font-size: x-small;
        margin-bottom: 0;
        opacity: 70%;
    }

    #winner>.modal-dialog>.modal-content {
        background-color: #fafafa;
    }
</style>
<div id="winner" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button id="close-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="bubble" class="mt-3 px-5">
                    Zeige diese Nachricht und erhalte
                    <br>
                    <b><%= text %></b>
                </div>
                <%- include("../../static/img/winner-01.svg") %>
                <div class="mb-3"></div>
                <p id="disclaimer">Dieser Gutschein ist nur 30 Minuten gültig.</p>
            </div>
        </div>
    </div>
</div>