<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head", {title: "Error" }) %>
</head>
<body>
    <%- include("./partials/header") %> 
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="h3">404</div>
                    </div>
                    <div class="card-body">
                        Die gesuchte Seite kann nicht gefunden werden.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>