<!DOCTYPE html>
<html lang="de">
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header border-bottom-0">
                        <nav>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="user-tab" data-toggle="tab" href="#user"
                                        role="tab" aria-controls="user" aria-selected="true">User</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="qrcode-tab" data-toggle="tab" href="#qrcode" role="tab"
                                        aria-controls="qrcode" aria-selected="false">QR-Code</button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="user" role="tabpanel"
                                aria-labelledby="user-tab">
                                <div class="row">
                                    <div class="col-lg my-1">
                                        <div class="card">
                                            <div class="card-header">
                                                Alle Verbindungen zwischen QR-Codes und Usern löschen
                                            </div>
                                            <div class="card-body">
                                                <form action="/admin/clear" method="POST">
                                                    <button class="btn" id="clear" type="submit">Löschen</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg my-1">
                                        <div class="card">
                                            <div class="card-header">
                                                Verbindungen eines Users mit allen seinen QR-Codes löschen
                                            </div>
                                            <div class="card-body">
                                                <form action="/admin/clear-one" method="POST">
                                                    <div class="input-group">
                                                        <span class="input-group-text">@</span>
                                                        <input class="form-control" required type="text"
                                                            name="username" placeholder="username">
                                                        <button class="btn" type="submit">Löschen</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg my-1">
                                        <div class="card">
                                            <div class="card-header">
                                                Alle QR-Codes löschen
                                            </div>
                                            <div class="card-body">
                                                <form action="/admin/delete-qrcodes" method="POST">
                                                    <button class="btn" type="submit">Löschen</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col my-1">
                                        <div class="card">
                                            <div class="card-header">
                                                QR-Codes generieren
                                            </div>
                                            <div class="card-body">
                                                <form action="/admin/create-qrcodes" method="POST">
                                                    <input required class="mb-1 form-control" type="text"
                                                        placeholder="Anzahl" name="nQrcodes">
                                                    <div class="input-group mb-1">
                                                        <label for="color" class="input-group-text">Farbe</label>
                                                        <input class="form-control form-control-color" type="color"
                                                            name="color" id="color" value="#000000">
                                                    </div>
                                                    <div class="input-group mb-1">
                                                        <label for="background"
                                                            class="input-group-text">Hintergrund</label>
                                                        <input class="form-control form-control-color" type="color"
                                                            name="background" id="background" value="#ffffff">
                                                    </div>
                                                    <button class="btn" type="submit">Generieren</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="qrcode" role="tabpanel" aria-labelledby="qrcode-tab">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>

    <script>
        // let cols = document.getElementsByClassName("col")
        // for (let col of cols) {
        //     col.classList.add("my-1")
        // }

        // let buttons = document.getElementsByTagName("button")
        // for (let button of buttons) {
        //     button.classList.add("btn")
        // }

        // let labels = document.getElementsByTagName("label")
        // for (let label of labels) {
        //     label.classList.add("form-label")
        // }

        // let inputs = document.getElementsByTagName("input")
        // for (let input of inputs) {
        //     switch (input.type) {
        //         case "text":
        //             input.classList.add("form-control")
        //         break;
        //         case "color":
        //             input.classList.add("form-control")
        //             input.classList.add("form-control-color")
        //     }
        // }
    </script>

</html>