<!DOCTYPE html>
<html lang="de">
<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/admin.css">

    <body>
        <%- include("./partials/header") %>
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header border-bottom-0 pb-0">
                        <nav>
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <button class="nav-link active" href="#user" data-toggle="tab">User</button>
                                </li>
                                <li class="nav-item dropdown">
                                    <button class="nav-link dropdown-toggle" data-toggle="dropdown">QR-Code</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" data-toggle="tab" href="#create-qrcode">Erstellen</a>
                                        <a class="dropdown-item" data-toggle="tab" href="#edit-qrcode">Verändern</a>
                                        <a class="dropdown-item" data-toggle="tab" href="#delete-qrcode">Löschen</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link" href="#old" data-toggle="tab">Old</button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="user" role="tabpanel">
                                <%- include("./partials/admin/user-tab") %>
                            </div>
                            <div class="tab-pane fade" id="create-qrcode">Create QR-Code</div>
                            <div class="tab-pane fade" id="edit-qrcode">Edit QR-Code</div>
                            <div class="tab-pane fade" id="delete-qrcode">Delete QR-Code</div>
                            <div class="tab-pane fade" id="old">
                                <%- include("./partials/admin/old") %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>

</html>