<!DOCTYPE html>
<html lang="de">

<%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %> 
    <h1><%= accessToken %></h1>
    <h1><%= instagramUserID %></h1>

</body>
</html>