<!DOCTYPE html>
<html lang="de">

<head>
    <%- include("./partials/head", { title: username}) %>
    <link rel="stylesheet" href="/css/campaign.css">
</head>

<body>
    <div class="container-fluid">

        <div class="row" id="top-row">
            <div class="col">
                
                <h3 class="ml-4 mb-3"><span class="title-bars">HEY!</span></h3>
                
                <span id="welcome-paragraph" class="m-3 mt-4 white-bars">
                    Du hast also Interesse an einer nachhaltigen Zukunft? <b>Wir auch!</b>
                    <br>
                    Mit unserem essbaren Besteck versuchen wir der Wegwerfgesellschaft
                    von heute tatkräftig entgegen zu wirken.
                    <br>
                    Lass uns dir unsere Vision zeigen!
                </span>

            </div>
        </div>

        <div class="row">
            <div class="col-md" id="zero-waste">

                <div id="spoon-animation" class="ml-3">
                    <img src="/img/spoon-eating-animation.gif" alt="">
                </div>
                <h3 class="mb-3"><span class="title-bars" id="zero-waste-title">ZERO WASTE</span><img id="zero-waste-icon" src="/img/zero-waste-icon.svg" alt=""></h3>
                <span class="white-bars">
                    Mit einem Löffel aus einer leckeren Getreidemischung bleibt am Ende des Essens
                    nichts außer dem Wunsch nach noch einem Löffel.
                </span>
                <h3 class="mb-3 mt-5 partner"><span class="title-bars">UNSERE PARTNER</span></h3>
                <span class="white-bars partner">
                    Mithilfe Partnern wie <a href="https://instagram.com/eisdiele_um_die_ecke" target="_blank">@eisdiele_um_die_ecke</a>
                    schaffen wir es mit jedem Löffel <span style="color: red">X,XX</span> Gramm CO<sub>2</sub> einzusparen, während wir den Ozean vor
                    einer wachsenden Plastik-Plage schützen.
                    <br>
                    Und das beste? Für dich gibt es einen leckeren Snack als Nachtisch!
                </span>

            </div>

            <div class="col-md my-5">
                <%- partnerInstagram %>
            </div>
        </div>

        <div class="row" style="margin-bottom: 500px;">
            <div class="col-md">

                <h3 class="mb-3 ml-5"><span class="title-bars">ÜBER UNS</span></h3>

                <span class="white-bars ml-3">

                </span>

            </div>
        </div>


    </div>
    <% try { if (lottery.winner) { %>
        <script> const time = <%= lottery.time %></script>

        <!-- winner modal -->

        <%- include("./partials/winner", { type: rewardType }) %>

        <!-- fireworks -->

        <div class="stage-container" style="position: absolute; top: 0; z-index: 10000;">
            <div class="canvas-container">
                <canvas id="trails-canvas"></canvas>
                <canvas id="main-canvas"></canvas>
            </div>
        </div>

        <!-- scripts for fireworks -->

        <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/Stage%400.1.4.js'></script>
        <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/MyMath.js'></script>
        <script src="/js/fireworks.js"></script>

        
        <script src="/js/campaign.js"></script>

    <% }} catch {} %>

</body>

</html>