<!DOCTYPE html>
<html lang="de">
<head>
    <%- include("./partials/head", { title: "Goodie wählen" }) %>
    <link rel="stylesheet" href="/css/choose-reward.css">
    <link rel="stylesheet" href="/css/footer-padding.css">
</head>
<body>
    <%- include("./partials/header") %> 

    <div class="container mb-3">
        <%- include("./partials/setup/choose-reward") %>
    </div>

    <div id="update" class="btn btn-custom floating">
        Aktualisieren
    </div>

    <script src="/js/choose-reward.js"></script>
    <%- include("./partials/footer") %>
</body>
</html>