<!DOCTYPE html>
<html lang="de">
<head>
    <%- include("./partials/head", { title: "Account löschen" }) %>
</head>
<body>
    <%- include("./partials/header") %>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>Wie du deinen Account löschen kannst</h4>
                </div>
                <div class="card-text">
                    Um deinen Account zu löschen musst du uns lediglich unter <a href="https://www.instagram.com/accounts/manage_access/" target="_blank">www.instagram.com/accounts/manage_access/</a>
                    die Berechtigungen zur Einsicht deiner Instagram-Medien zurückziehen. Wir werden darauffolgend von Instagram benachrichtigt und löschen deine Daten.
                </div>
            </div>
        </div>
    </div>

    <%- include("./partials/footer") %>
</body>
</html>