<!DOCTYPE html>
<html lang="de">
<head>
    <%- include("./partials/head", { title: "Datenschutzerklärung" }) %>
</head>
<body>
    <%- include("./partials/header") %>

    <%- include("./partials/footer") %>
    <%- include("./partials/cookies") %>
</body>
</html>