<!DOCTYPE html>
<html lang="de">
<head>
    <%- include("./partials/head", { title: "Beispiel"}) %>
    <link rel="stylesheet" href="/css/example.css">
</head>
<body>
    <iframe src="/campaign/eisdiele_um_die_ecke"></iframe>
    <div id="card" class="card">
        <div class="card-body">
            <p>
                Überzeugt? Dann legen Sie los!
            </p>
            <%- include("./partials/instagram-button") %> 
        </div>
    </div>
</body>
</html>