<!DOCTYPE html>
<html lang="de">

<%- include("./partials/head", {title: "Login"}) %>

    <body>
        <%- include("./partials/header") %>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <%- include("./partials/instagram-button") %> 
                        <%- include("./partials/forwarding-form.ejs") %>
                    </div>
                </div>
            </div>
    </body>
</html>