<!DOCTYPE html>
<html lang="de">

<head>
    <%- include("./partials/head", {title: "Home"}) %>
</head>

<body>
    <%- include("./partials/header") %>

    <div class="container">
        <div class="row">
            <div class="col">
                <a role="button" class="btn btn-custom full-width my-1" href="/choose">Den zu promotenden Instagram-Post ändern</a>
                <a role="button" class="btn btn-custom full-width my-1" href="/scanner">Neue QR-Codes Scannen</a>
                <a role="button" class="btn btn-custom full-width my-1" href="/campaign/<%= user.username %> ">Meine Promotion ansehen</a>
            </div>
        </div>
    </div>
</body>
</html>