<!DOCTYPE html>
<html lang="de">

<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>

            <div class="container">
                <div class="row">
                    <div class="col">
                            <a class="btn btn-block btn-social btn-instagram gy-3" target="_self" role="button" href="https://api.instagram.com/oauth/authorize?client_id=<%= instagramAppID %>&redirect_uri=<%= oauthRedirectURI %>&scope=user_profile,user_media&response_type=code">
                                <i class="fab fa-instagram mt-1"></i>
                                Sign in with Instagram
                            </a>
                            <form id="form" action="/scanner" method="POST">
                                <input hidden id="instaInput" name="instagramUserID" type="text">
                                <input hidden id="facebookInput" name="facebookPageID" type="text">
                                <input hidden id="accessToken" name="accessToken" type="text">
                            </form>
                    </div>
                </div>
            </div>
    </body>
</html>