<!DOCTYPE html>
<html lang="de">
<head>
    <%- include("./partials/head", { title: "Kontakt" }) %>
</head>
<body>
    <%- include("./partials/header") %>

    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <h5>Adresse</h5>
                Frenvi UG
                <br>
                MAFINEX Technologiezentrum
                <br>
                Julius-Hatry-Straße 1
                <br>
                68163 Mannheim
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <h5>Kontakt</h5>
                Telefon: <a href="tel:+49-17687278366">+49-17687278366</a>
                <br>
                E-Mail: <a href="mailto:info@frenvi.de">info@frenvi.de</a>
            </div>
        </div>
    </div>

    <%- include("./partials/footer") %>
    <%- include("./partials/cookies") %>
</body>
</html>