<%- include("./partials/header") %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Erfolgreich ausgeloggt
                </div>
                <div class="card-body">
                    Du wurdest erfolgreich ausgeloggt.
                    Falls das keine Absicht war oder du dich mit einem anderen Account anmelden möchten, kannst du das hier tun.
                    <br>
                    <br>
                    <%- include("./partials/instagram-button") %>
                </div>
            </div>
        </div>
    </div>
</div>