<!DOCTYPE html>
<html lang="de">

<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                Bitte geben Sie uns Berechtigungen Ihre Instagram-Medien. Wir brauchen diese, um Ihren Instagram-Account auf unserer Webseite zu bewerben.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <%- include("./partials/instagram-button") %> 
                    </div>
                </div>
            </div>
    </body>
</html>