<!DOCTYPE html>
<html lang="de">

<head>
    <%- include("./partials/head", { title: "Login" }) %>
</head>

<body>
    <%- include("./partials/header") %>

    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <div class="card mb-2">
                    <div class="card-body">
                        Beim Testen der von Ihnen zugelassenen Instagram-Berechtigungen haben wir festgestellt,
                        dass Sie uns nicht alle notwendigen Berechtigungen zugelassen haben oder diese nachträglich zurückgezogen haben.
                        Bitte lassen Sie alle angefragten Berechtigungen zu. Wir brauchen diese, um unsere gemeinsame Kampagne zu erstellen.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <%- include("./partials/instagram-button") %>
            </div>
        </div>
    </div>
</body>

</html>