<!DOCTYPE html>
<html lang="de">

<head>
	<%- include("./partials/head", {title: "QR-Scanner" }) %>
	<link rel="stylesheet" href="/css/scanner.css">
</head>

<body>
	<%- include("./partials/header") %> 
	<div class="container">
		<div class="row">
			<div class="col">
				<%- include("./partials/setup/scanner") %>
				<a href="/" class="btn btn-custom full-width mt-2">Zurück zu Home</a>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
	<script src="/js/scanner.js" type="module"></script>

</body>

</html>