<!DOCTYPE html>
<html lang="de">
<head>
    <%- include("./partials/head", { title: "Willkommen" }) %>
    <link rel="stylesheet" href="/css/welcome.css">
</head>
<body>
    <%- include("./partials/header") %>
    <div class="container pt-3">
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">
                        <h4>Willkommen zum exklusiven EATlery Partner-Programm</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Wir bieten dir und deinem Unternehmen die Chance gemeinsam mit uns deine Kundenbasis zu erweitern.
                            In nur vier einfachen Schritten helfen wir dir, deine Social-Media-Känale bei deinen Kunden zu bewerben.
                            Nach dem kurzen Setup-Prozess kannst du die gelieferten QR-Code-Sticker anbringen, wo du möchtest.
                            Wird ein QR-Code von einem deiner Kunden eingescannt, landet dieser dann auf einer von uns erstellten Kampagnen-Webseite,
                            auf der wir deine und unseren Instagram-Account gemeinsam promoten und der Kunde an einer Lotterie teilnehmen kann,
                            um einen Goodie bei 
                        </p>
                        <ol>
                            <a href="#step1">
                                <b><li>Bei Instagram anmelden</li></b>
                            </a>
                            <a href="#step2">
                                <b><li>Instagram-Post wählen</li></b>
                            </a>
                            <a href="#step3">
                                <b><li>QR-Codes registrieren</li></b>
                            </a>
                            <a href="#step4">
                                <b><li>QR-Code-Sticker anbringen</li></b>
                            </a>
                        </ol>
                        <p>Und schon kann's losgehen!</p>
                        <h5 id="step1">1. Bei Instagram anmelden</h5>
                        <p>
                            Um deinen Instagram-Kanal promoten zu können, brauchen wir von dir die Berechtigung deine
                            Instagram-Medien einzusehen. Keine Sorge wir sehen nur, was auch deine Instagram-Follower sehen!
                        </p>
                        <h5 id="step2">2. Instagram-Post wählen</h5>
                        <p>
                            Nun hast du die Wahl. Welchen deiner Instagram-Posts willst du auf unserer gemeinsamen Kampagne promoten?
                            Einfach einen Post anklicken und weiter geht's.
                        </p>
                        <div class="img-div my-4">
                            <img class="mx-auto inline-img" src="/img/choose_post.svg">
                        </div>
                        <h5 id="step3">3. QR-Codes registrieren</h5>
                        <p>
                            Mit dem QR-Scanner unserer Webseite scannst du einmal jeden QR-Code, den du geliefert bekommen hast.
                            Er ist nun bei uns auf deinen Instagram-Account registriert und führt ab sofort auf unsere gemeinsame Kampagnen-Webseite.
                        </p>
                        <div class="img-div my-4">
                            <img class="mx-auto inline-img" src="/img/small_qrscan_explanation.svg">
                        </div>
                        <h5 id="step4">4. QR-Code-Sticker anbringen</h5>
                        <p>
                            Da die QR-Code-Sticker nun mit deinem Instagram-Account verbunden sind, kannst du sie überall anbringen, wo du möchtest.
                            Werden sie von einem deiner Kunden gescannt, wird er auf die Kampagnen-Webseite geführt.
                        </p>
                        <p>Interesse? Dann starten Sie jetzt mit dem ersten Schritt und melden Sie sich per Instagram an.</p>
                        <%- include("./partials/instagram-button")  %> 
                        <p class="mt-3">Sie wollen erst einmal sehen, wie die Kampagnen-Webseite aussieht? Schauen Sie sich unsere Beispiel-Seite an:</p>
                        <a class="full-width btn btn-custom" href="/example">Beispiel-Seite</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>