<div class="setup-content-page" hidden>
    <link rel="stylesheet" href="/css/preview.css">
    <h5 class="card-title">Vorschau der Kampagne</h5>

    Glückwunsch, du bist fertig mit der Registrierung.
    <br>
    Nun kannst du alle QR-Codes verteilen, wo du möchtest.
    Scannt ein Kunde den QR-Code landet er auf der unten im <span class="border p-1">grünen Rahmen</span> vorgestellten Webseite.
    
    <iframe id="iframe" class="my-3 border shadow" src="/campaign/<%= username %>"></iframe>
    
    <script src="/js/preview.js"></script>
</div>