<h5 class="card-title">Post auswählen</h5>

Du kannst nun einen deiner Instagram-Posts wählen, der auf der Kampagnen-Seite promoted wird.
<br>
Alternativ hast du die Wahl, immer den aktuellsten Instagram-Post zu promoten.
<br><br>

<label for="radio-dynamic-post">
    <input type="radio" name="radio" id="radio-dynamic-post" <% if (promotedPost == undefined) { %>checked<% } %>>
    Ich möchte immer den aktuellsten Post promoten
</label>

<br>

<label for="radio-static-post">
    <input type="radio" name="radio" id="radio-static-post" <% if (promotedPost != undefined) { %>checked<% } %>>
    Ich möchte einen bestimmten Post promoten
</label>



<div id="images" class="row" <% if (promotedPost == undefined) { %>hidden<% } %>>
    <% media.forEach(post => { %>
        <div class="m-1 img-container">
            <img class="preview-img <% if (post.permalink == promotedPost) { %>selected<% } %>"

            <% if (post.media_type == "VIDEO") { %>
                src="<%= post.thumbnail_url %>"
            <% } else { %>
                src="<%= post.media_url %>"
            <% } %>
            
            id="<%= post.id %>" data-permalink="<%= post.permalink %>">
        </div>
    <% }) %>
</div>

<button id="back-to-top" class="btn btn-custom floating">
    <i class="fas fa-chevron-up"></i>
</button>