<div class="setup-content-page" hidden>
    <h5 class="card-title">Daten überprüfen und veröffentlichen</h5>

    Überprüfe nochmal alle deine Daten bevor du die Kampagne veröffentlichst.

    <div class="mt-4">
        <h6>Der zu promotende Post</h6>
        <span id="promoted-post-preview-text"></span>
        <div id="promoted-post-card" class="card">
            <img id="promoted-post-preview" class="card-img-top">
            <div id="change-post" class="card-body btn-light">
                Anderen Post auswählen
            </div>
        </div>
    </div>

    <div class="mt-4">
        <h6>Das Goodie für deine Kunden</h6>

    </div>
    
</div>