.dropdown-item.active {
    background-color: #A2D208;
}

.dropdown-item:active {
    background-color: #A2D208;
}

.input-group-prepend.fixed-width {
    flex: 0 0 30%;
}

.input-group-text.fixed-width {
    width: 100%;
}

.form-control {
    height: fit-content;
    height: -moz-fit-content;
}

#download-button {
    width: fit-content;
}

#download-button:hover {
    text-decoration: none;
    cursor: pointer;
}

.input-group-append>a.btn {
    padding-left: 14px;
    padding-right: 14px;
}

.form-control[readonly] {
    background-color: white;
}

.qr-col {
    text-align: center;
}

.progress-bar.type-0 {
    background-color: #ef476f;
}

.progress-bar.type-1 {
    background-color: #ffd166;
}

.progress-bar.type-2 {
    background-color: #06d6a0;
}

.progress-bar.type-3 {
    background-color: #118ab2;
}