.dropdown-item.active {
    background-color: #A2D208;
}

.dropdown-item:active {
    background-color: #A2D208;
}

.input-group-prepend.fixed-width {
    flex: 0 0 30%;
}

.input-group-text.fixed-width {
    width: 100%;
}

.form-control {
    height: fit-content;
}

#create-user-form {
    width: 300px;
}