body {
    font-family: rubik,sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}

.btn-custom {
    color: white;
    background-color: #A2D208;
    border-color: #A2D208;
}

.btn-custom:hover {
    color: #A2D208;
    background-color: white;
    border-color: #A2D208;
}

.btn-custom-danger {
    color: white;
    background-color: #DC3545;
    border-color: #DC3545;
}

.btn-custom-danger:hover {
    color: #DC3545;
    background-color: white;
    border-color: #DC3545;
}

.btn-custom-warning {
    color:white;
    background-color: #FFC107;
    border-color: #FFC107;
}

.btn-custom-warning:hover {
    color:#FFC107;
    background-color: white;
    border-color: #FFC107;
}

.btn-insta {
    background: linear-gradient(to right bottom, #fbad50, #fa9e4c, #f88e4a, #f57e4b, #f16e4c, #f15f5a, #ee5169, #e64678, #d74596, #bb4fb3, #905cc9, #4c68d7);
    padding: 2px 0px 2px 5px;
    border: none;
}

.btn-insta:active {
    background: #fbad50!important;
}

.btn-insta:focus {
    background: #fbad50!important;
}

.btn-insta>svg {
    border: none!important;
    position: unset!important;
}

.btn-insta>span {
    color: white;
}

.btn-insta>span:hover {
    color: rgba(250, 250, 250, 0.7);
}

.navbar-item>.dropdown-item:active {
    background-color: #A2D208;
}

.full-width {
    width: 100%;
}

.progress-bar {
    background-color: #A2D208;
}