body {
    overflow-x: hidden;
}

/* center instagram embed */
iframe {
    margin-left: auto!important;
    margin-right: auto!important;
}

blockquote {
    margin-left: auto!important;
    margin-right: auto!important;
}

/* fireworks */
.stage-container {
    pointer-events: none;
    overflow: hidden;
    box-sizing: initial;
    margin: -1px;
}

@media (max-width: 840px) {
    .stage-container {
        border: none;
        margin: 0;
    }
}

.canvas-container {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-filter 0.3s;
    transition: -webkit-filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s;
}

.canvas-container canvas {
    position: absolute;
    mix-blend-mode: lighten;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

#insta {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 32px;
    height: 32px;
    z-index: 1;
}

#insta>svg {
    width: 100%;
    height: 100%;
}

#insta:hover {
    text-decoration: none;
}

#insta::before {
    content: "Checkt unser Instagram";

    position: absolute;
    top: 12%;
    transform: translate(-168px);
    width: 12em;

    font-size: small;

    color: black;
    background-color: rgba(0, 0, 0, .03);

    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 2px;

    border-radius: 5px;
}

#insta::after {
    content: "";

    position: absolute;
    top: 29%;
    transform: translate(-44px);

    border-left: 8px solid rgba(0, 0, 0, .03);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

@media screen and (max-width: 342px) {
    #insta::before {
        display: none;
    }

    #insta::after {
        display: none;
    }
}

#top-row {
    margin-bottom: 85px;
}

#top-row>.col>h3 {
    margin-top: 2rem;
}

.title-bars {
    position: relative;
}

.partner>.title-bars::before {
    width: 120%!important;
    left: -10%;
}

.title-bars::before {
    content: "";
    position: absolute;
    width: 140%;
    height: 150%;
    top: -35%;
    left: -20%;
    z-index: -1;
    background-color: white;
    transform: rotate(-1deg);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .15);
}

#top-row>.col::before {
    content: "";
    background-color: var(--frenvi-yellow);
    position: absolute;
    top: 0;
    bottom: -.75rem;
    left: 0;
    right: 0;
    z-index: -2;
}

.white-bars>span {
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .15);
    background-color: #fff;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding: 6px;
    line-height: 2;
}

#welcome-paragraph::after {
    content: "";
    width: 0;
    height: 0;

    border-top: 100px solid var(--frenvi-yellow);
    border-left: 70vw solid transparent;
    border-right: 30vw solid transparent;
    
    position: absolute;
    left: 0;
    right: 0;
    bottom: -112px;
    z-index: -1;
}

#spoon-animation>img {
    max-width: 60px;
}

#spoon-animation {
    position: absolute;
    left: 0;
}

#spoon-animation::after {
    content: "";
    width: 0;
    height: 0;
    z-index: -1;

    border-top: 150px solid transparent;
    border-left: 172px solid var(--frenvi-yellow);
    border-bottom: 145px solid transparent;

    position: absolute;
    left: -20px;
    top: -60px;
}

#zero-waste>.row>h3,
#zero-waste>.row>span {
    margin-left: 5.5rem;
}

#zero-waste>*:not(#spoon-animation) {
    margin-left: 5rem;
}

#zero-waste-icon {
    max-width: 35px;
    margin-left: 1rem;
    margin-bottom: .7rem;
    border-radius: 100%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .15);
}

#partner-instagram {
    background-color: var(--frenvi-yellow);
}

#partner-instagram::before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 130px solid var(--frenvi-yellow);
    border-left: 70vw solid transparent;
    border-right: 30vw solid transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: -129px;
    z-index: -1;
}

#partner-instagram::after {
    content: "";
    width: 0;
    height: 0;

    border-top: 100px solid var(--frenvi-yellow);
    border-left: 25vw solid transparent;
    border-right: 75vw solid transparent;
    
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100px;
    z-index: -1;
}

/* only on small screen */
@media screen and (max-width: 768px)  {
    h3.partner {
        margin-left: 1.5rem!important;
    }

    .white-bars.partner {
        margin-left: 1rem!important;
    }
}

/* only on large screen */
@media screen and (min-width: 768px)  {
    #welcome-paragraph::after {
        content: "";
        width: 0;
        height: 0;
        border-top: 100px solid var(--frenvi-yellow);
        border-left: 69.15vw solid transparent;
        border-right: 30vw solid rgb(255,237,0);
        position: absolute;
        left: 0;
        right: 0;
        bottom: -112px;
        z-index: -1;
    }

    #partner-instagram::before {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 130px solid var(--frenvi-yellow);
        border-left: 34.5vw solid transparent;
        border-right: 15vw solid var(--frenvi-yellow);
        position: absolute;
        left: 0;
        right: 0;
        top: -129px;
        z-index: -1;
    }

    #partner-instagram::after {
        content: "";
        width: 0;
        height: 0;
        border-top: 100px solid var(--frenvi-yellow);
        border-left: 12.5vw solid transparent;
        border-right: 37vw solid transparent;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -100px;
        z-index: -1;
    }
}