img {
    width: 100px;
    height: 100px;
}

.tag {
    color: #A2D208;
    background: none;
    border: none;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-bottom: 0;
}

.tag:hover {
    opacity: .6;
}

iframe {
    margin-left: auto!important;
    margin-right: auto!important;
}