.tag {
    color: #A2D208;
    background: none;
    border: none;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-bottom: 0;
}

.tag:hover {
    opacity: .6;
}

iframe {
    margin-left: auto!important;
    margin-right: auto!important;
}

.stage-container {
    pointer-events: none;
    overflow: hidden;
    box-sizing: initial;
    margin: -1px;
}

@media (max-width: 840px) {
    .stage-container {
        border: none;
        margin: 0;
    }
}

.canvas-container {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-filter 0.3s;
    transition: -webkit-filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s;
}

.canvas-container canvas {
    position: absolute;
    mix-blend-mode: lighten;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

blockquote {
    margin-left: auto!important;
    margin-right: auto!important;
}