.form-check>.row {
    position: relative;
}

.form-check>.row>input {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.selected {
    border: 3px solid #A2D208!important;
}

.preview-img {
    max-width: 200px;
    max-height: 200px;
}

.preview-img:hover {
    cursor: pointer;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}

.row {
    justify-content: space-around;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#final-img {
    max-height: 49vh;
    max-width: 100%;
}

#to-bottom {
    position: fixed;
    bottom: 2.11rem;
    right: 15px;
    display: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}