.form-check>.row {
    position: relative;
}

.form-check>.row>input {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.selected {
    box-shadow: 0px 0px 3px 3px rgb(255, 237, 0);
}

.preview-img {
    max-width: 200px;
    max-height: 200px;
}

.preview-img:hover {
    cursor: pointer;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}

.row {
    justify-content: space-around;
}

#final-img {
    max-height: 49vh;
    max-width: 100%;
}

#back-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    opacity: 0;
    background-color: #f7f7f7;
}

#update {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    right: 4.5rem;
    background-color: #f7f7f7;
}

#update:hover,
#back-to-top:hover {
    background-color: #fff67f;
}

#update:active,
#back-to-top:active {
    background-color: rgb(255, 237, 0);
}