#current-post-card>a {
    text-align: center;
}

#current-post-card>a:hover {
    text-decoration: none;
}

#current-post-card {
    max-width: 200px;
}

#current-post-card>.card-body {
    padding: 0.75rem;
}

.custom-switch>label {
    padding-top: 1.5px;
}

.custom-control-input:focus~.custom-control-label::before {
  border-color: #adb5bd !important;
  box-shadow: none !important;
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: var(--frenvi-yellow) !important;
  background-color: var(--frenvi-yellow) !important;
}

.custom-control-input:active~.custom-control-label::before {
  background-color: var(--frenvi-yellow) !important;
  border-color: #adb5bd !important;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
  border-color: #adb5bd !important;
}

.custom-control-input-green:not(:disabled):active~.custom-control-label::before {
  background-color: var(--frenvi-yellow) !important;
  border-color: var(--frenvi-yellow) !important;
}