iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-bottom: 120px;
}

#card {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;

    border-bottom: none;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media screen and (max-width: 768px) {

}