#ready-card {
    background-color: #A2D208;
    color: white;
}

#ok-button {
    background-color: #A2D208;
    border-color: #A2D208;
    color: white;
}

#ready-button {
    text-decoration-color: white;
}