#ready-card {
    background-color: #A2D208;
    color: white;
    border-color: #A2D208;
}

#ready-button {
    text-decoration-color: white;
}

#info {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    box-sizing: unset;
}

#qr-counter-div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #A2D208;
    color: white;
    box-sizing: unset;
    padding-left: 10px!important;
    padding-right: 10px!important;
}

#scan-response-div {
    position: absolute;
    text-align: center;
    bottom: .5rem;
    left: .5rem;
    right: .5rem;
    z-index: 1;
    box-sizing: unset;
}

.good {
    color: white;
    background-color: #A2D208;
}

.bad {
    color: white;
    background-color: #DC3545;
}

#scanner {
    display: block;
    width: 100%;
    position: relative;
}

.max-width-500px {
    max-width: 500px;
}

canvas {
    display: block;
    width: 100%;
}

.horizontal {
    display: none;
}

@media screen and (max-height: 450px) {
    #header {
        display: none;
    }

    .row:not(#scanner-row) {
        display: none;
    }

    #scanner {
        width: 96vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-left: 0px!important;
    }

    #scanner-col {
        padding-left: 2vh!important;
        padding-right: 2vh!important;
    }

    .col.horizontal {
        padding-right: 2vh!important;
    }

    .horizontal {
        display: block;
    }
}