#ready-card {
    background-color: #A2D208;
    color: white;
    border-color: #A2D208;
}

#ready-button {
    text-decoration-color: white;
}

#info {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    box-sizing: unset;
}

#scanner {
    display: block;
    width: 100%;
    position: relative;
}

.max-width-500px {
    max-width: 500px;
}

canvas {
    display: block;
    width: 100%;
}

.horizontal {
    display: none;
}

@media screen and (max-height: 450px) {
    #header {
        display: none;
    }

    .row:not(#scanner-row) {
        display: none;
    }

    #scanner {
        max-width: 96vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .horizontal {
        display: block;
    }
}