.img-div>svg {
    max-height: 20vh;
    width: 100%;
}

.img-div>img {
    max-width: 60%;
    max-height: 20vh;
}

.img-div {
    text-align: center;
}

a {
    color: black;
}

a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}