.img-div>svg {
    max-width: 60%;
    max-height: 30vh;
}

.img-div>img {
    max-width: 60%;
    max-height: 30vh;
}

.img-div {
    text-align: center;
}

a {
    color: black;
}

a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

#scan-bars>rect {
    animation: scan 2s ease-in-out infinite;
}

@keyframes scan {
    100% {
        transform: translateY(80%);
    }
}