<% 
users.sort((first, second) => {
    if (first.nrOfScans > second.nrOfScans) return -1
    else if (first.nrOfScans < second.nrOfScans) return 1
    else return 0
})
%> 

<div class="col">
    <% users.forEach(user => { %> 
        <div class="input-group mb-1">
            <div class="input-group-prepend fixed-width">
                <div class="input-group-text fixed-width">Username</div>
            </div>
            <div class="form-control text-right username">
                <%= user.username %>
            </div>
            <div class="input-group-append">
                <div class="input-group-text">
                    Scans: <%= user.nrOfScans %>
                </div>
            </div>
            <div class="input-group-append">
                <a class="btn btn-custom" target="_blank" onclick="getUser('<%= user.username %>')">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    <% }) %> 
</div>