<div class="row mb-2" id="search-row">
    <div class="col">
        <label for="search-user-form">User finden</label>
        <div class="input-group" id="search-user-form">
            <div class="input-group-prepend">
                <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="search-user-input" placeholder="username" name="username">
            <div class="input-group-append">
                <button class="btn btn-custom border"
                    onclick="getUser()">Alle User</button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-custom border"
                    onclick="getUser(document.getElementById('search-user-input').value)">Finden</button>
            </div>
        </div>
    </div>
</div>