<div class="row">
    <div class="col">
        <label for="create-qrcode-form">QR-Code erstellen</label>
        <div class="input-group" id="create-qrcode-form">
            <div class="input-group-prepend">
                <div class="input-group-text">Anzahl</div>
            </div>
            <input type="number" class="form-control" id="nQrcodes" value="1" min="1" name="nQrcodes" onfocus="this.value = ''">
            <div class="input-group-append">
                <button class="btn btn-custom btn-outline-secondary"
                    onclick="createQrcodes(document.getElementById('nQrcodes').value)">Erstellen</button>
            </div>
        </div>
    </div>
</div>
<div hidden class="row my-2" id="download-row">
    <form class="col" action="/admin/qrcode/download" method="POST">
        <input style="width: 100%;" id="fileStore" type="text" name="qrcodes"></input>
        <div class="input-group" id="download-button" onclick="document.getElementById('arrow-download-button').click()">
            <div class="input-group-prepend">
                <div class="input-group-text">Download</div>
            </div>
            <div class="input-group-append">
                <button class="btn btn-custom" id="arrow-download-button" type="submit">
                    <i class="fas fa-file-download"></i>
                </button>
            </div>
        </div>
    </form>
</div>
