<div class="row">
    <div class="col">
        <label>Bereits erstellte QR-Codes anzeigen</label>
        <br>
        <div class="btn-group">
            <button id="btn-get-all" class="btn btn-custom" onclick="getQrcodes('all')">Alle</button>
            <button id="btn-get-unused" class="btn btn-custom" onclick="getQrcodes('unused')">Unregistrierte</button>
        </div>
        <button hidden id="refresh-get-all" class="btn btn-custom"><i class="fas fa-sync-alt fa-flip-horizontal" onclick="document.getElementById('btn-get-all').click()"></i></button>
        <button hidden id="refresh-get-unused" class="btn btn-custom"><i class="fas fa-sync-alt fa-flip-horizontal" onclick="document.getElementById('btn-get-unused').click()"></i></button>
    </div>
</div>
<div class="row" id="view-row">

</div>