<div class="row">
    <div class="col-lg my-1">
        <div class="card">
            <div class="card-header">
                Alle Verbindungen zwischen QR-Codes und Usern löschen
            </div>
            <div class="card-body">
                <form action="/admin/clear" method="POST">
                    <button class="btn btn-custom" id="clear" type="submit">Löschen</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg my-1">
        <div class="card">
            <div class="card-header">
                Verbindungen eines Users mit allen seinen QR-Codes löschen
            </div>
            <div class="card-body">
                <form action="/admin/clear-one" method="POST">
                    <div class="input-group">
                        <span class="input-group-text">@</span>
                        <input required type="text" name="username" placeholder="username">
                        <button type="submit" class="btn btn-custom">Löschen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg my-1">
        <div class="card">
            <div class="card-header">
                Alle QR-Codes löschen
            </div>
            <div class="card-body">
                <form action="/admin/delete-qrcodes" method="POST">
                    <button class="btn btn-custom" type="submit">Löschen</button>
                </form>
            </div>
        </div>
    </div>
</div>